doctype html
html(lang="en")
  head
    title Cast
    link(href="/static/bootstrap.min.css",rel="stylesheet")
    link(href="/static/font-awesome.min.css",rel="stylesheet")
    link(href="/static/fontello.css",rel="stylesheet")
    link(href="/static/cast.css",rel="stylesheet")
    script(src="/static/player.js")
    script(src="/socket.io/socket.io.js")
    script(src="/static/realtimeSongInfo.js")
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    #bg
        div.triangle
    #site.site-wrapper
        #site-inner.site-wrapper-inner
            #container.cover-container
                div.masthead.clearfix
                    #innerHead.inner
                        h3.masthead-brand Cast
                        if isStreaming
                            ul.nav.masthead-nav
                                each stream in streams
                                    if currentStream==stream
                                        li.active
                                            a(href="/pub/"+stream) #{stream || ''}
                                    else
                                        li
                                            a(href="/pub/"+stream) #{stream}

                div.inner.cover
                    if !geolockIsAllowed
                        h1.cover-heading Your country is not allowed to access this stream
                    else
                        if isStreaming
                            h1.cover-heading #{streamInfo.name}
                            p.lead(id="djname-"+currentStream) #{meta.djname}
                            button.btn.btn-success.btn-circle.btn-xl(onClick="pressedPlayButton('"+hostname+"/streams/"+currentStream+"')")
                                i.icon-play#playStopButton
                            if meta.song !== null && meta.song !== ""
                                div.nowPlaying.row
                                    div.label.label-default.col-xs-4
                                        i.fa.fa-microphone
                                        span &nbsp;Now Playing
                                    div.col-xs-12.col-sm-8.label-text
                                        span(id="meta-"+currentStream) #{meta.song}
                            if listencount !== null
                                div.row
                                    div.label.label-default.col-xs-4
                                        i.fa.fa-users
                                        span &nbsp;Listeners
                                    div.col-xs-12.col-sm-8.label-text(id="listencount-"+currentStream) #{listencount}
                        else
                            h1.cover-heading No streams found.
